@use '../styleVariables/variables';

.LeftHeaderBlock{
    display: flex;
    flex-direction: row;
    align-items: center;
    .H1{
        color: white;
        font-size: 20px;
        margin: 0 10px;
        font-weight: 400;
    }
    .Button{
        width: max-content;
        height: 60px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0 0 10px;
        background:none;
        flex-direction: row;
        border: none;
        .Icon{
        width: 60px;
        height: 60px;
        }
    }
    
}